.hero-text h1{
    text-align: left;
    font-size: 3rem !important;
}

.hero-text p{
    text-align: left;
}

.hero-text button{
    background-color: rgb(3, 3, 27);
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
}

span{
    font-size: 15px;
}

.hero-buttons {
    width: 70%;
}

.link{
    color: black;
}

.sided-hero .sideImg{
    width: 100%;
    border-radius: 10px;
    border: 5px solid rgba(175, 170, 170, 0.137);
}

.top{
    position: relative;
    z-index: 99;
    bottom: 20rem;
    /* right: 1.5rem; */
    /* width: 110%; */
}